<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>list #1</p>
                </a>
                <a class="list-menu-item">
                    <p>list #2</p>
                </a>
            </div>
            <button class="button-primary">
                + New list
            </button>
        </div>
        <div class="task-lists-container">
            <h1 class="title">
                Tasks
            </h1>
        </div>
    </div>
</div>
