@import "../../../main-styles.scss";

.modal-box{
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding:0px 35px;
}

.list-form{
    display: flex;
    margin-bottom: 20px;
    .list-input{
        flex-grow: 1;
        border-radius: 5px;
        border:none;
        background-color: $light;
        padding:0px 10px;
        height: 40px;
        &:focus{
            outline:none;
            box-shadow: 0 0 0 2px $light-green;
        }
    }
}

.footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
