<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create a new List
        </h1>
        <div class="list-form">
            <input #listTitleInput type="text" class="list-input" placeholder="Enter list name...">
        </div>
        <div class="footer">
            <button class="button-secondary" routerLink="/">Cancel</button>
            <button class="button-primary" (click)="createList(listTitleInput.value)">Create</button>
        </div>
    </div>
</div>
